autopep8==1.5.7
bidict==0.21.2
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
Flask==2.0.1
Flask-Cors==3.0.10
Flask-SocketIO==4.3.1
fonttools==4.26.2
gevent==21.8.0
greenlet==1.1.1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
loguru==0.5.3
MarkupSafe==2.0.1
numpy==1.21.2
Pillow==8.3.1
pkg_resources==0.0.0
pycodestyle==2.7.0
pytesseract==0.3.8
python-dotenv==0.19.0
python-engineio==3.13.2
python-socketio==4.6.0
requests==2.26.0
six==1.16.0
toml==0.10.2
urllib3==1.26.6
Werkzeug==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
