click==7.1.2
fastapi==0.63.0
fonttools==4.21.1
h11==0.12.0
joblib==1.0.1
numpy==1.20.1
Pillow==8.1.2
pydantic==1.8.1
python-multipart==0.0.5
reportlab==3.5.65
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
starlette==0.13.6
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
uvicorn==0.13.4
