hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-top: 40px;
}

hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

body {
    background-color: #181c27;
}

label {
    color: wheat;
}

button.btn-primary {
    background-color: #142846;
}

.instruction {
    background-color: wheat;
    margin-top: 50px;
    border-radius: 20px;
    width: 67.5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

a.area-href{
    color: #8093b0;
}

a.file-href{
    color: #6c9e2a;
}

a.github-href{
    color: #6e7887;
    background-color: #85e3e8;
}