<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../static/bootstrap-5.0.0-alpha1-dist/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="../static/myjs/myjs.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/mycss/mycss.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-5.0.0-alpha1-dist/css/bootstrap.min.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">


</head>
<body style="background-color: #181c27;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Poirot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" id="goto-font">Font</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="goto-pic">Picture</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-sm" style="text-align: -webkit-center;" id="main-body">
</div>


<script>
    const pic_url = '{{ url_for('local_cracker') }}';
    const font_url = '{{ url_for('font_file_cracker') }}';
    const page_pic_url = '{{ url_for('page_pic') }}';
    const page_font_url = '{{ url_for('page_font') }}';
    const namespace = '/test';



    let base64 = ''
    let json_res = ''


    $(document).ready(function () {
        get_static_page(page_font_url, 'main-body');

        $("#goto-font").click(function () {
            get_static_page(page_font_url, 'main-body')
        })

        $("#goto-pic").click(function () {
            get_static_page(page_pic_url, 'main-body')
        })


    });

</script>
</body>
</html>