<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../static/node_modules/echarts/dist/echarts.min.js"></script>
    <script src="../static/bootstrap-5.0.0-alpha1-dist/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/datetime_picker/moment.min.js"></script>
    <script src="../static/datetime_picker/daterangepicker.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="../static/myjs/myjs.js"></script>

    <link href="https://cdn.bootcdn.net/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/datetime_picker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="../static/mycss/mycss.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-5.0.0-alpha1-dist/css/bootstrap.min.css">
</head>
<body>

</body>
</html>